name: Deploy Frontend to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Deploy CloudFormation
        run: |
          aws cloudformation deploy \
            --template-file infra/template.yaml \
            --stack-name simple-frontend-stack \
            --capabilities CAPABILITY_NAMED_IAM

      - name: Sync files to S3
        run: |
          BUCKET=$(aws cloudformation describe-stacks \
            --stack-name simple-frontend-stack \
            --query "Stacks[0].Outputs[?OutputKey=='BucketName'].OutputValue" \
            --output text)

          aws s3 sync public/ s3://$BUCKET/ --delete

      - name: Invalidate Cache
        run: |
          DIST_ID=$(aws cloudformation describe-stacks \
            --stack-name simple-frontend-stack \
            --query "Stacks[0].Outputs[?OutputKey=='CloudFrontId'].OutputValue" \
            --output text)

          aws cloudfront create-invalidation \
            --distribution-id $DIST_ID \
            --paths "/*"
